* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  display: flex;
  background: black;
}

.card-game {
  width: 800px;
  height: 800px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}
.memory-card {
  width: calc(25% - 10px);
  height: calc(33% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}
.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  border: 2px solid grey;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;

  backface-visibility: hidden;
}
.front {
  transform: rotateY(180deg);
}
img {
  width: 100px;
  height: 150px;
}
img:hover {
  border-color: white;
}
p {
  color: white;
}
span {
  color: white;
}
